* {
    margin: 0;
    padding:30px;
}

.top {
    background-color: aqua;
    height: auto;
    width: 50%;
    text-align: center;
    color: white;
    text-transform: capitalize;
    text-decoration: black underline;
    font-size: 45px;
    font-family: 'Bungee Spice';

}

.under {
    text-decoration: underline red;
}

.over {
    text-decoration: wavy overline lime;
}

.line {
    text-decoration: line-through;
}

.plain {
    text-decoration: none;
}

.underover {
    text-decoration: dashed underline overline;
}

.thick {
    text-decoration: solid underline purple 4px;
}

.blink {
    text-decoration: blink;
}