* {
    margin: 10px;
    padding: 0;
}

.box1 {
    box-sizing: border-box;
    width: 430px;
    height: 85px;
    border: 2px solid black;
    /* display: none; */
    visibility: hidden;
    /* display: inline-block; */
    background-color: red;
}

.box2 {
    box-sizing: border-box;
    width: 430px;
    height: 85px;
    border: 2px solid black;
    /* display: inline-block; */
    
    background-color: blue;
}